<?xml version="1.0" encoding="UTF-8"?>
 <config>
   <modules>
     <Kora_Rounding>
       <version>0.1.0</version>
     </Kora_Rounding>
   </modules>
 <global>
   <models>
     <directory>
       <rewrite>
         <currency>Kora_Rounding_Model_Currency</currency>
       </rewrite>
     </directory>
   </models>
 </global>
 </config>