<?xml version="1.0"?>
<config>
    <frontend>
        <layout>
            <updates>
                <aitpreorder>
                    <file>aitpreorder.xml</file>
                </aitpreorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <aitpreorder>
                <use>admin</use>
                <args>
                    <module>Aitoc_Aitpreorder</module>
                    <frontName>Aitpreorder</frontName>
                </args>
            </aitpreorder>
        </routers>
    </admin>
    <frontend>
        <routers/>
        <events/>
        <translate/>
        <layout/>
    </frontend>
    <default>
        <config_vars/>
    </default>
    <modules>
        <Aitoc_Aitpreorder>
            <version>1.1.23</version>
        </Aitoc_Aitpreorder>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Aitoc_Aitpreorder>
                    <files>
                        <default>Aitoc_Aitpreorder.csv</default>
                    </files>
                </Aitoc_Aitpreorder>
            </modules>
        </translate>
    </frontend>
    <admin>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitpreorder>
                    <files>
                        <default>Aitoc_Aitpreorder.csv</default>
                    </files>
                </Aitoc_Aitpreorder>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <aitpreorder>
                <class>Aitoc_Aitpreorder_Model</class>
                <resourceModel>Aitpreorder_mysql4</resourceModel>
            </aitpreorder>
            <cataloginventory>
                <rewrite>
                    <source_backorders>Aitoc_Aitpreorder_Model_Rewrite_SourceBackorders</source_backorders>
                </rewrite>
            </cataloginventory>
            <sales>
                <rewrite>
                    <order>Aitoc_Aitpreorder_Model_Rewrite_SalesOrder</order>
                    <order_shipment>Aitoc_Aitpreorder_Model_Rewrite_SalesOrderShipment</order_shipment>
                </rewrite>
            </sales>
            <sales_mysql4>
                <rewrite>
                    <order_collection>Aitoc_Aitpreorder_Model_Rewrite_Mysql4SalesOrderCollection</order_collection>
                </rewrite>
                <rewrite>
                    <order_grid_collection>Aitoc_Aitpreorder_Model_Rewrite_Mysql4SalesOrderGridCollection</order_grid_collection>
                </rewrite>
            </sales_mysql4>
            <catalog>
                <rewrite>
                    <product>Aitoc_Aitpreorder_Model_Rewrite_CatalogProduct</product>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle>Aitoc_Aitpreorder_Block_Rewrite_BundleCatalogProductViewTypeBundle</catalog_product_view_type_bundle>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Aitoc_Aitpreorder_Block_Rewrite_CatalogProductViewTypeConfigurable</product_view_type_configurable>
                </rewrite>
            </catalog>
            <downloadable>
                <rewrite>
                    <catalog_product_view_type>Aitoc_Aitpreorder_Block_Rewrite_DownloadableCatalogProductViewType</catalog_product_view_type>
                </rewrite>
            </downloadable>
            <bundle>
                <rewrite>
                    <checkout_cart_item_renderer>Aitoc_Aitpreorder_Block_Rewrite_BundleCheckoutCartItemRenderer</checkout_cart_item_renderer>
                    <catalog_product_view_type_bundle_option_select>Aitoc_Aitpreorder_Block_Rewrite_BundleCatalogProductViewTypeBundleOptionSelect</catalog_product_view_type_bundle_option_select>
                    <catalog_product_view_type_bundle_option_checkbox>Aitoc_Aitpreorder_Block_Rewrite_BundleCatalogProductViewTypeBundleOptionCheckbox</catalog_product_view_type_bundle_option_checkbox>
                    <catalog_product_view_type_bundle_option_radio>Aitoc_Aitpreorder_Block_Rewrite_BundleCatalogProductViewTypeBundleOptionRadio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_multi>Aitoc_Aitpreorder_Block_Rewrite_BundleCatalogProductViewTypeBundleOptionMulti</catalog_product_view_type_bundle_option_multi>
                </rewrite>
            </bundle>
            <aiteditablecart>
                <rewrite>
                    <bundleCatalogProductViewTypeBundleOptionSelect>Aitoc_Aitpreorder_Block_Rewrite_AiteditablecartBundleCatalogProductViewTypeBundleOptionSelect</bundleCatalogProductViewTypeBundleOptionSelect>
                    <bundleCatalogProductViewTypeBundleOptionCheckbox>Aitoc_Aitpreorder_Block_Rewrite_AiteditablecartBundleCatalogProductViewTypeBundleOptionCheckbox</bundleCatalogProductViewTypeBundleOptionCheckbox>
                    <bundleCatalogProductViewTypeBundleOptionRadio>Aitoc_Aitpreorder_Block_Rewrite_AiteditablecartBundleCatalogProductViewTypeBundleOptionRadio</bundleCatalogProductViewTypeBundleOptionRadio>
                    <bundleCatalogProductViewTypeBundleOptionMulti>Aitoc_Aitpreorder_Block_Rewrite_AiteditablecartBundleCatalogProductViewTypeBundleOptionMulti</bundleCatalogProductViewTypeBundleOptionMulti>
                </rewrite>
            </aiteditablecart>
            <catalog>
                <rewrite>
                    <product_view>Aitoc_Aitpreorder_Block_Rewrite_CatalogProductView</product_view>
                    <product_price>Aitoc_Aitpreorder_Block_Rewrite_CatalogProductPrice</product_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <result>Aitoc_Aitpreorder_Block_Rewrite_CatalogSearchResult</result>
                </rewrite>
            </catalogsearch>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Aitoc_Aitpreorder_Block_Rewrite_AdminhtmlSalesOrderGrid</sales_order_grid>
                    <catalog_product_edit_tab_inventory>Aitoc_Aitpreorder_Block_Rewrite_AdminhtmlCatalogProductEditTabInventory</catalog_product_edit_tab_inventory>
                    <sales_order_shipment_create_form>Aitoc_Aitpreorder_Block_Rewrite_AdminhtmlSalesOrderShipmentCreateForm</sales_order_shipment_create_form>
                    <sales_order_invoice_create_form>Aitoc_Aitpreorder_Block_Rewrite_AdminhtmlSalesOrderInvoiceCreateForm</sales_order_invoice_create_form>
                    <sales_items_renderer_default>Aitoc_Aitpreorder_Block_Rewrite_AdminhtmlSalesItemsRendererDefault</sales_items_renderer_default>
                    <sales_order_view_items>Aitoc_Aitpreorder_Block_Rewrite_AdminhtmlSalesOrderViewItems</sales_order_view_items>
                </rewrite>
            </adminhtml>
            <bundle>
                <rewrite>
                    <adminhtml_sales_order_view_items_renderer>Aitoc_Aitpreorder_Block_Rewrite_BundleAdminhtmlSalesOrderViewItemsRenderer</adminhtml_sales_order_view_items_renderer>
                    <adminhtml_sales_order_items_renderer>Aitoc_Aitpreorder_Block_Rewrite_BundleAdminhtmlSalesOrderItemsRenderer</adminhtml_sales_order_items_renderer>
                </rewrite>
            </bundle>
            <downloadable>
                <rewrite>
                    <customer_products_list>Aitoc_Aitpreorder_Block_Rewrite_DownloadableCustomerProductsList</customer_products_list>
                </rewrite>
            </downloadable>
        </blocks>
        <helpers>
            <aitpreorder>
                <class>Aitoc_Aitpreorder_Helper</class>
            </aitpreorder>
        </helpers>
        <resources>
            <aitpreorder_setup>
                <setup>
                    <module>Aitoc_Aitpreorder</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitpreorder_setup>
            <aitpreorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitpreorder_write>
            <aitpreorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitpreorder_read>
        </resources>
        <events>
            <bundle_product_view_config>
                <observers>
                    <aitpreorder>
                        <type>singleton</type>
                        <class>aitpreorder/observer</class>
                        <method>onBundleProductViewConfig</method>
                    </aitpreorder>
                </observers>
            </bundle_product_view_config>
            <sales_quote_item_qty_set_after>
                <observers>
                    <aitpreorder>
                        <type>singleton</type>
                        <class>aitpreorder/observer</class>
                        <method>onSalesQuoteItemQtySetAfter</method>
                    </aitpreorder>
                </observers>
            </sales_quote_item_qty_set_after>
            <sales_order_save_after>
                <observers>
                    <aitpreorder>
                        <type>singleton</type>
                        <class>aitpreorder/observer</class>
                        <method>onSalesOrderSaveAfter</method>
                    </aitpreorder>
                </observers>
            </sales_order_save_after>
            <catalog_product_save_after>
                <observers>
                    <aitpreorder>
                        <type>singleton</type>
                        <class>aitpreorder/observer</class>
                        <method>onCatalogProductSaveAfter</method>
                    </aitpreorder>
                </observers>
            </catalog_product_save_after>
            <catalog_product_collection_load_before>
                <observers>
                    <aitpreorder>
                        <type>singleton</type>
                        <class>aitpreorder/observer</class>
                        <method>beforeCatalogProductCollectionLoad</method>
                    </aitpreorder>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_load_after>
                <observers>
                    <aitpreorder>
                        <type>singleton</type>
                        <class>aitpreorder/observer</class>
                        <method>onCatalogProductLoad</method>
                    </aitpreorder>
                </observers>
            </catalog_product_load_after>
            <sales_order_load_after>
                <observers>
                    <aitpreorder>
                        <type>singleton</type>
                        <class>aitpreorder/observer</class>
                        <method>onSalesOrderLoad</method>
                    </aitpreorder>
                </observers>
            </sales_order_load_after>
            <core_locale_set_locale>
                <observers>
                    <aitpreorder>
                        <type>model</type>
                        <class>aitpreorder/checkout_cart_observer</class>
                        <method>onCoreLocaleSetLocale</method>
                    </aitpreorder>
                </observers>
            </core_locale_set_locale>
            <controller_front_init_routers>
                <observers>
                    <aitpreorder>
                        <type>model</type>
                        <class>aitpreorder/order_observer</class>
                        <method>onControllerFrontInitRouters</method>
                    </aitpreorder>
                </observers>
            </controller_front_init_routers>
        </events>
        <sales>
            <order>
                <statuses>
                    <pendingpreorder translate="label">
                        <label>Pending Pre-Order</label>
                    </pendingpreorder>
                </statuses>
                <states>
                    <pendingpreorder translate="label">
                        <label>Pending Pre-Order</label>
                        <statuses>
                            <pendingpreorder default="1"/>
                        </statuses>
                    </pendingpreorder>
                </states>
                <statuses>
                    <processingpreorder translate="label">
                        <label>Processing Pre-Order</label>
                    </processingpreorder>
                </statuses>
                <states>
                    <processingpreorder translate="label">
                        <label>Processing Pre-Order</label>
                        <statuses>
                            <processingpreorder default="1"/>
                        </statuses>
                    </processingpreorder>
                </states>
            </order>
        </sales>
    </global>
</config>
<!--
/**
 * Product:     Pre-Order
 * Package:     Aitoc_Aitpreorder_1.1.23_332852
 * Purchase ID: MpavTKfgbcrRPJ88sBMFRhGGqYnzRuVQc7WznQkxPL
 * Generated:   2012-07-19 20:16:28
 * File path:   app/code/local/Aitoc/Aitpreorder/etc/config.data.xml
 * Copyright:   (c) 2012 AITOC, Inc.
 */
-->
