<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<PPF_OPIM>
			<version>0.0.1</version>
		</PPF_OPIM>
	</modules>
	<global>
		<helpers>
			<ppfopim>
				<class>PPF_OPIM_Helper</class>
			</ppfopim>
		</helpers>
		<models>
			<ppfopim>
				<class>PPF_OPIM_Model</class>
				<resourceModel>ppfopim_mysql4</resourceModel>
			</ppfopim>
			<ppfopim_mysql4>
				<class>PPF_OPIM_Model_Mysql4</class>
				<entities>
					<notifier_log><table>ppfopim_notifier_log</table></notifier_log>
				</entities>
			</ppfopim_mysql4>
			<sales>
				<rewrite>
					<order>PPF_OPIM_Model_Rewrite_Sales_Order</order>
				</rewrite>
			</sales>
			<sales_mysql4>
				<rewrite>
					<order>PPF_OPIM_Model_Mysql4_Rewrite_Sales_Order</order>
				</rewrite>
			</sales_mysql4>
		</models>
		<events>
			<sales_order_invoice_register>
				<observers>
					<ppfopim>
						<type>singleton</type>
						<class>ppfopim/observer</class>
						<method>onSalesOrderInvoiceRegister</method>
					</ppfopim>
				</observers>
			</sales_order_invoice_register>
		</events>
		<resources>
			<ppfopim_setup>
				<setup>
					<module>PPF_OPIM</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ppfopim_setup>
			<ppfopim_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ppfopim_write>
			<ppfopim_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ppfopim_read>
		</resources>
	</global>
</config>
