/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}


        div.main_content div#content.wide {
            width: 100% ! important;
        }

        div.main_content div#content {
            
        }
        
        .col {
            margin-left: 10px;
            padding:0 10px;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        .related_content,
        .span_1 {
            width: 115px;
        }
        .span_2 {
            width: 240px;
        }
        .span_3 {
            width: 49.5%;
        }
        .main_content,
        .span_4 {
            width: 690px;
        }
        .span_5 {
            width: 815px;
        }
        .header,
        .navigation,
        .footer,
        .span_6 {
            margin-left:0;
            width:100%;
        }

    /* 1. 6 Column Grid 0px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    15.8333333333%
    Span 2:    32.6666666667%
    Span 3:    49.5%
    Span 4:    66.3333333333%
    Span 5:    83.1666666667%
    Span 6:    100%
    
    ----------------------------------------------------------------------------- */
    /*------------------------------------*\
        IPHONE
    \*------------------------------------*/
    @media screen and (max-device-width: 480px){
        #slidecaption {
            margin-top: -60px ! important;
        }        
    }

    @media screen and (min-width: 0px) and (max-width: 319px) {
        
        div.main_content div#content.wide {
            width: 100% ! important;
        }

        /*div.main_content div#content {
            width: 25% ! important;
            background-color: red;
        }*/

        /*.col {
            margin-left: 1%;
            padding: 0 1.5%;
        }
        
        .row .col:first-child {
            margin-left: 0;
        }

        .related_content,
        .span_1 {
            font-size: 0.8em;
            width:15%;
        }
        .span_2 {
            width:32.6666666667%;
        }
        .span_3 {
            width: 49.5%;
        }
        .main_content,
        .span_4 {
            padding-left: 10px;
            padding-right: 10px;
            width: 66%;
        }
        .span_5 {
            width: 60%;
        }
        .header,
        .navigation,
        .footer,
        .span_6 {
            margin-left:0;
            width: 100%;
        }
        */        
    }

    @media screen and (min-width: 320px) and (max-width: 919px) {

        /*
        div.main_content div#content.wide {
            width: 100% ! important;
        }

        div.main_content div#content {
            width: 40% ! important;
            background-color: green;
        }

        .col {
            margin-left: 1%;
            padding: 0 1.5%;
        }
        
        .row .col:first-child {
            margin-left: 0;
        }

        .related_content,
        .span_1 {
            font-size: 0.8em;
            width:15%;
        }
        .span_2 {
            width:32.6666666667%;
        }
        .span_3 {
            width: 49.5%;
        }
        .main_content,
        .span_4 {
            padding-left: 10px;
            padding-right: 10px;
            width: 66%;
        }
        .span_5 {
            width: 60%;
        }
        .header,
        .navigation,
        .footer,
        .span_6 {
            margin-left:0;
            width: 100%;
        }        
        */
    }

    @media screen and (min-width: 920px) {
    /*@media screen and (min-width: 0px) {*/

/*
        div.main_content div#content.wide {
            width: 100% ! important;
        }

        div.main_content div#content {
            background-color: blue;
        }
        
        .col {
            margin-left:1%;
        	padding:0 1.5%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        .related_content,
        .span_1 {
            width:12.8333333333%;
        }
        .span_2 {
            width:32.6666666667%;
        }
        .span_3 {
            width:49.5%;
        }
        .main_content,
        .span_4 {
            width:70%;
        }
        .span_5 {
            width:83%;
        }
        .header,
        .navigation,
        .footer,
        .span_6 {
            margin-left:0;
            width:97%;
        }        */
    }

